<div class="content-block">
    {{#if products.length}}
        <table>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Foto</th>
            </tr>
            {{#each products}}
            <tr>
                <td>{{name}}</td>
                <td>${{price}}</td>
                <td>{{desc}}</td>
                <td>{{url}}</td>
            </tr>
            {{/each}}
        </table>
    {{else}}
        <p class="ERROR">No hay productos para listar</p>
    {{/if}}
</div>